/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
}

/* Header styles */
.h {
    text-align: center;
    padding: 10px 20px; /* Adjusted padding */
    background-image: url('https://img.freepik.com/free-vector/gradient-geometric-background_52683-53401.jpg?w=1060&t=st=1708334235~exp=1708334835~hmac=69b2a728f129479b56ce8f7f9a48a6bd105d8d52eeab9ee2117697687673c81b');
    background-size: 100% 100%;
}

/* Adjusted header height */
.header {
    margin: 0;
    font-size: 24px; /* Adjusted font size */
}

/* Sidebar styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Content area styles */
td {
    padding: 20px;
    color: white;
    text-align: center;
}

/* Apply background color to entire column */
td.bg-grey {
    background-color: lightgrey;
}

/* Footer styles */
td[bgcolor="skyblue"] {
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    padding: 5px;
    margin-right: 10px;
}
